@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.noselect {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

body {
  text-align: center;
  background-color: blueviolet;
  margin: 0;
  height: 100%;
}

#clock {
  position: relative;
  top: 20vh;
  font-family: "Staatliches";
  font-size: 100px;
  text-align: center;
  border: 0px;
}

#date {
  position: relative;
  top: 20vh;
  font-family: "Staatliches";
  font-size: 30px;
  text-align: center;
  border: 0px;
}

#searchbar {
  position: relative;
  top: 30vh;
  font-family: "Special Elite";
  font-size:30px;
  text-align: center;
  border: 0px;
}
